</div>

<footer>
    <p>Copyright &copy; <%= new Date().getFullYear() %>
    </p>
    <p>You can create custom list in menu bar with the abilty to delete it.</p>
</footer>
</div>

<script>
    // For Burger Menu.
    function toggleClass(){
        document.getElementById("ul-container").classList.toggle("change");
        document.getElementById("bar-for-click").classList.toggle("icon");
    }
</script>
</body>

</html>