<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- href in link must start with "/". -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- fevicon.ico error -->
    <link rel="icon" href="data:;base64,=">
</head>

<body>
    <div class="big-container">
        <nav>
            <div class="nav">

                <head>
                    <h1>To Do List</h1>
                </head>
            </div>
        </nav>
        