*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

html{
    min-height: 100vh;
}

body {
    --background-color: #00494a;
    /* --background-color: #304253; */
    --body-background-color: #b9dace;
    /* --body-background-color: #bec8f5; */
    --menu-background-color: #105b5c;
    min-height: 100%;
    color: white;
    background: rgb(211, 235, 205);
}

/* Scrollbar Starts Here. It does not work in firefox or edge in prior version 79. */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #136a6b;
    border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--body-background-color);
}

/* Scrollbar Ends Here */

.big-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Burger menu starts here. Till line no. 171. */

.bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    display: block;
    background-color: var(--background-color);
}

#bar1 {
    transform: translateY(-4px);
    transition: 0.5s ease;
}

#bar3 {
    transform: translateY(4px);
    transition: 0.5s ease;

}

.bar-for-click {
    position: sticky;
    width: 35px;
    height: 30px;
    margin: 30px 0 0 20px;
    z-index: 200;
}

.icon .bar {
    background-color: var(--body-background-color);
}

.icon #bar1 {
    transform: translateY(3px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.icon #bar3 {
    transform: translateY(-6px) rotate(-45deg);

}

div.ul-container {
    position: fixed;
    top: 0;
    left: -90%;
    transition: 1s ease;
    height: 100%;
    width: 40%;
    background-color: var(--menu-background-color);
}

.change {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: fixed;

    left: 0% !important;
}

ul {
    position: relative;
    top: 160px;
    height: 520px;
    overflow: auto;
    width: 100%;
}

li {
    list-style: none;
    text-align: center;

    font-size: 24px;
    margin: 40px;
}

a {
    padding: 20px;
    text-decoration: none;
    transition: 0.4s ease-out;
}

a:hover {
    border: 1px solid #ffffff;
}

div.form-add-list {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

div.form-add-list input {
    padding: 20px 20px 2px 5px;
    font-size: 20px;
    width: 200px;

    color: #ffffff;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background-color: var(--menu-background-color);
}

div.form-add-list input:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background-color: var(--menu-background-color);
}

div.form-add-list input::placeholder {
    color: #ffffff;
}

/* "div.form-add-list button" is above footer. At line 251 */

/* Burger menu ends here. */



/* Main part is here with class content. */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 30%;
}

.heading {
    padding: 15px;
    min-width: 380px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 4px 5px black;
    background-color: var(--background-color);
}

.list-form {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--body-background-color);
    box-shadow: 1px 4px 5px black;
}


/* DELETE item starts here. Till line no. 222. */
.list {
    padding-top: 25px;
    margin: 0 2rem;

    border-bottom: 1px solid black;
}

input[type=checkbox] {
    margin-right: 15px;
}

label {
    font-size: 20px;
    font-weight: 600;
    color: var(--background-color);
}

/* DELETE item ends here. */


/* ADD item starts here. Till line no. 268 */

div.form-add-item input {
    max-width: 250px;
    min-height: 25px;
    font-size: 18px;
    padding-left: 10px;

    color: var(--background-color);
    background-color: var(--body-background-color);
    border: 0;
    border-bottom: 1px solid black;
}

form.input-button {
    text-align: center;
}

div.form-add-item input:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}

div.form-add-item input::placeholder {
    color: var(--background-color);
}

div.form-add-item button,
div.form-add-list button {

    height: 35px;
    width: 40px;
    font-size: 20px;

    border-radius: 8px;
    border: 0;
    background-color: var(--background-color);
    box-shadow: 1px 4px 5px black;
}

/* ADD item ends here. */

/* DELETE list button.  */
div.form-delete-list button {
    margin-top: 50px;
    width: 120px;
    height: 40px;

    border-radius: 8px;
    font-weight: 600;
    border: 0;
    background-color: #ba2a2a;
    box-shadow: 1px 4px 5px black;

}

/* Footer is here. */
footer {
    text-align: center;
    padding: 1.5em 0;
}

footer p{
    color: var(--background-color);
    font-weight: 600;
}


@media only screen and (max-width: 1000px) {
    .change {
        width: 50% !important;
    }

    label{
        font-size: 16px;
    }

    ul {
        height: 435px;
    }

    div.form-add-list input {
        text-align: center;
        width: 170px;
    }
}


@media only screen and (max-width: 560px) {
    .change {
        width: 100% !important;
    }

    div.form-add-list input {
        width: 50vw;
    }

    .heading {
        padding: 8px;
        min-width: 150%;
    }

    .list-form {
        min-width: 150%;
        padding: 20px;
        margin: 0 20px;
    }

    .list{
        margin: 0 1rem;
    }

    label{
        font-size: 15px;
    }

    div.form-add-item input {
        margin-top: 0;
        max-width: 30vw;
        padding-left: 5px;
        font-size: 15px;
    }
    

    div.form-add-list button {
        height: 30px;
        width: 40px;
    }

    div.form-delete-list button {
        width: 100px;
        font-size: 10px;
    }
}